cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
Farama-Notifications==0.0.4
filelock==3.18.0
fsspec==2025.3.2
google-api-core==2.25.0rc0
google-auth==2.39.0
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gymnasium==1.1.1
h5py==3.13.0
huggingface-hub==0.30.2
idna==3.10
jax==0.6.0
jaxlib==0.6.0
Jinja2==3.1.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
-e git+https://github.com/Farama-Foundation/Minari.git@95cf98e8f223fcdcfddd959ed6ad30d34ace3971#egg=minari
ml_dtypes==0.5.1
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.5
opt_einsum==3.4.0
packaging==25.0
pillow==11.2.1
proto-plus==1.26.1
protobuf==6.30.2
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
Pygments==2.19.1
PyYAML==6.0.2
requests==2.32.3
rich==14.0.0
rsa==4.9.1
scipy==1.15.2
shellingham==1.5.4
sympy==1.14.0
torch==2.7.0
tqdm==4.67.1
typer==0.15.3
typing_extensions==4.13.2
urllib3==2.4.0
